img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    object-fit: cover;
}

video {
    width: 450px;
    height: auto;
}

.gallery p {
    text-align: center;
    width: 300px;
    margin: 10px auto;
}